{% extends 'layout.html' %}

{% block content %}
<p>Hyperborea - system for easy and comfortable work with Machine Learning.</p>
<ul>
    <li>08/02/2020 Train first decision tree on titanic dataset and return cv score.</li>
    <li>10/02/2020 Use Hyperborea in kaggle competition in titanic with 0.7272 score.</li>
    <li>11/02/2020 Add various algorithms and use Hyperborea in Kaggle in Reto 1: Beer challenge.</li>
    <li>13/02/2020 Use bootstrap for better view and add project to GitHub.</li>
</ul>
{% endblock %}